<span ng-show="!!$ctrl.totalPages"
     class="pagination">
	<span class="pagination__label">displaying page</span>
	<span class="pagination__previous">
		<button ng-disabled="$ctrl.currentPage === 1"
		        ng-click="$ctrl.onPageChange({page:$ctrl.currentPage - 1})"
		        type="button">
				<span class="fa fa-caret-left"></span>
		</button>
	</span>
	<span class="pagination__current">
		<input ng-model="$ctrl.currentPage"
		       ng-model-options="{debounce:400}"
		       ng-change="$ctrl.onManualPageChange({{$ctrl.currentPage}})"
		       pattern="[0-9]*"
		       placeholder="Search for...">
	</span>
	<span class="pagination__total">
		of <a href
		   ng-click="$ctrl.onPageChange({page:$ctrl.totalPages})">{{$ctrl.totalPages}}</a>
	</span>
	<span class="pagination__next">
		<button ng-disabled="$ctrl.currentPage === $ctrl.totalPages"
		        ng-click="$ctrl.onPageChange({page:$ctrl.currentPage + 1})"
		        type="button">
				<span class="fa fa-caret-right"></span>	
		</button>
	</span>
</span>
