$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

pagination {

	display: block;
	margin: 20px 0;


	.pagination {

		@extend .input-group;
		width: 13em;

		&__label,
		&__total {
			@extend .input-group-addon;
			background-color: transparent;
			border: 0;
		}

		&__previous,
		&__next {
			@extend .input-group-btn;
			button {
				height: 34px;
				@extend .btn,
				.btn-default;
				span {
					&:before {
						font-size: 1.2em;
						line-height: 1.2em;
					}
				}
				&:focus,
				&:active {
					box-shadow: none;
					outline: none;
					span {
						@extend .text-primary;
					}
				}
			}
		}

		&__previous {
			button {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&__current {
			input {
				@extend .form-control,
				.text-center;
				width: 55px !important;
				&:focus {
					border: 1px solid #BBBBBB;
					background-color: #FFFFFF;
					box-shadow: inset 0 1px 3px 0 rgba(153, 153, 153, 0.5), 0 1px 1px 0 rgba(221, 221, 221, 0.5);
				}
			}
		}
	}
}
