$grey :#616972;

searchbox {
	display: block;


	input.form-control {

		height: 40px;

		&:focus {
			border: 1px solid #979797;
			border-radius: 3px;
			background-color: #FFFFFF;
			box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		}


		&+.fa {
			position: absolute;
			left: 0;
			margin: 0.2em 0 0 1.5em;
			color: $grey;
		}

		&:focus,
		&.ng-not-empty {
			&+.fa,
			&::-webkit-input-placeholder {
				display: none;
				color: transparent;
			}
		}
		&::-webkit-input-placeholder {
			padding-left: 2em;
		}
	}
}
