<div class="card">
	<div class="card__header">
		<img ng-src="{{$ctrl.imageUrl || $ctrl.defaultImgUrl}}"
			 alt="news-article">
	</div>
	<div class="card__body ">
		<h3 class="card__body-title">{{$ctrl.title}} </h3>
		<p class="card__body-description ">
			{{$ctrl.description}}
		</p>
		<div class="card__body-tag">
			<i></i>
			<span>{{$ctrl.tag}}</span>
		</div>
	</div>
</div>
