$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$fa-font-path:"~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";



$light-grey: #DFDFDF;
$grey:#8C94A8;
$dark :#3E4D60;
$white: #fff;
$radius: 8px;

card {
	.card {

		overflow: hidden;
		height: 550px;
		margin: 1em 0;

		&__header {
			height: 45%;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			background-color: $light-grey;
			border: 1px solid $light-grey;
			border-top-right-radius: $radius;
			border-top-left-radius: $radius;
			img {
				display: block;
				padding: 1.5em;
				@extend .img-responsive;
			}
		}

		&__body {
			height: 55%;
			background-color: $white;
			padding: 1.5em;
			border: 1px solid $white;
			border-bottom-right-radius: $radius;
			border-bottom-left-radius: $radius;


			&-title {
				color: $dark;
				margin: 0;
				height: 20%
			}
			&-description {
				color: $grey;
				margin: 20px 0 0 0;
				height: 60%;
				text-overflow: ellipsis;
				overflow: hidden;
				line-height: 1.6em;
			}

			&-tag {
				margin-top: 20px;
				height: 20%;
				i {
					@extend .fa,
					.fa-tag
				}

				span {
					@extend .text-capitalize;
					margin-left: 0.5em;
				}
			}
		}
	}
}
