$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./../../styles/mixins";


$grey: #908C8C;

app-footer {
    @extend .container;
    display: block;
	color: $grey;
	padding-bottom: 55px;

	.footer {
		@extend .row;
		&__first-column,
		&__second-column,
		&__third-column {
			@extend .col-xs-12,
			.col-md-4,
			.text-center;
        };
        
        &__second-column,
		&__third-column {
            margin-top:1em;
            @include desktop {
                margin-top:0;
            }
        }

        &__first-column {
            @include desktop {
                text-align:left;
            }
        }

        &__third-column {
            @include desktop {
                text-align:right;
            }
        }

		&__second-column {
			ul {
				@extend .list-unstyled;
				display: inline-block;
				margin-bottom: 0;
				li {
					display: inline-block;
					text-align: center;
					a {
						padding: 0 1em;
						color: $grey;
						&:hover {
							text-decoration: none;
							color: darken($color: $grey, $amount: 50%)
						}
					}
					&:not(:last-child) {
						a {
							position: relative;
							&:after {
								content: '.';
								position: absolute;
								line-height: 0;
								font-size: 1em;
								bottom: 0.85em;
								margin: 0 1em;
							}
						}
					}
				}
			}
		}
	}
}
