	<div class="footer">
		<div class="footer__first-column">
			Copyright Creative Workorders
		</div>
		<div class="footer__second-column">
			<ul>
				<li><a href>Privacy</a></li>
				<li><a href>Terms</a></li>
				<li><a href>Cookies</a></li>
				<li><a href>More</a></li>
			</ul>
		</div>
		<div class="footer__third-column">
			Kissmybutton © 2017
		</div>
	</div>
