<div class="row">
	<div class="col-md-6 col-md-offset-6">
		<div class="row">
			<div class="col-xs-6">
				<searchbox placeholder="Search Channels"
				           on-search="$ctrl.updateSearchModel(query)"></searchbox>
			</div>
			<div class="col-xs-6">
				<selectbox placeholder="Choose category"
				           options="$ctrl.categories"
				           on-change="$ctrl.changeCategory(option)"></selectbox>
			</div>
		</div>
	</div>
</div>

<hr class="divider divider-grey">

<img ng-show="!($ctrl.sources | filter:{name:$ctrl.searchQuery, category:$ctrl.selectedCategory || undefined}).length"
     ng-src="{{$ctrl.noResultsImg}}"
     class="img-responsive"
     alt="no-results">

<div class="row">
	<div ng-repeat="source in $ctrl.sources | filter:{name:$ctrl.searchQuery, category:$ctrl.selectedCategory || undefined} | startFrom:($ctrl.currentPage -1 )*$ctrl.pageSize  | limitTo: $ctrl.pageSize track by source.id "

	     class="col-md-4">
		<card image-url="{{source.urlToImage}}"
		      title="{{source.name}}"
		      description="{{source.description}}"
		      tag="{{source.category}}"></card>
	</div>
</div>

<pagination current-page="$ctrl.currentPage"
            total-records="($ctrl.sources | filter:{name:$ctrl.searchQuery, category:$ctrl.selectedCategory || undefined}).length"
            page-size="$ctrl.pageSize"
            on-page-change="$ctrl.changePage(page)"></pagination>

<hr class="divider divider-grey">
