selectbox {
	select.form-control {
		height: 40px;
		border: 1px solid #979797;
		border-radius: 3px;
		background: linear-gradient(180deg, #F2F2F2 0%, #D4D4D4 100%);
		box-shadow: inset 0 2px 0 0 #FFFFFF;
	}
}
