<div class="form-group">
	<select ng-model="$ctrl.selectedOption"
	        ng-change="$ctrl.onChange({option:$ctrl.selectedOption})"
	        ng-model-options="{debounce:400}"
	        ng-options="(option | capitalize) for option in $ctrl.options"
	        class="form-control">
        <option value="">{{$ctrl.placeholder || 'Choose some option'}}</option>
    </select>
</div>

