<div class="container"
     ng-init="isNavCollapsed = true">
	<nav class="navbar">
		<div class="navbar-header">
			<button type="button"
			        class="navbar-toggle pull-left"
			        ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="fa fa-bars"></span>
            </button>

			<div class="avatar">
				<div class="avatar__img">
					<img ng-src="{{$ctrl.avatarImgUrl}}"
					     alt="avatar-img">
				</div>
				<h3 class="avatar__title">
					Stavros Kortesas
				</h3>
			</div>
		</div>
		<div class="collapse navbar-collapse"
		     uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav navbar-right hidden-xs">
				<li class="dropdown"
				    uib-dropdown>
					<a href
					   id="simple-dropdown"
					   uib-dropdown-toggle>
                        <span class="capitals">SK</span>
                        Hi stavros
                        <span class="fa fa-chevron-down white"></span>
                    </a>
					<ul class="dropdown-menu"
					    uib-dropdown-menu
					    aria-labelledby="simple-dropdown">
						<li>
							<a href>Settings</a>
						</li>
						<li>
							<a href>Logout</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Responisve nav -->
			<ul class="responsive-nav nav navbar-nav visible-xs">
				<li><a href>Home</a></li>
				<li><a href>Logout</a></li>
				<li><a href>Settings</a></li>
			</ul>
		</div>
	</nav>
</div>
