$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$white:#fff;
$grey:#C9C9C9;
$blue:#4A90E2;

app-header-nav {
	.capitals {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		color: $white;
		border: 3px solid $grey;
		background-color: $blue;
		padding: 0.5em;
	}
	.dropdown>a {
		color: $grey;
	}
	/** Overrides **/
	.navbar {
		margin: 0;
	}
	.nav .open>a,
	.nav .open>a:hover,
	.nav .open>a:focus,
	.nav>li>a:hover,
	.nav>li>a:focus {
		background-color: transparent;
	}
	.navbar-nav>li>a {
		padding: 20px 10px;
	}
	.dropdown-menu {
		border: none;
		box-shadow: none;
		border-bottom-left-radius: 0.4em;
		border-bottom-right-radius: 0.4em;
	}

	.avatar {
		@extend .visible-xs;
		width: 100%;
		margin-top: 20px;
		overflow: auto;
		&__img {
			@extend .text-center;
			height: 100%;
			img {
				@extend .img-circle;
				@extend .img-thumbnail;
				width: 150px;
				height: 150px;
				padding: 1em;
			}
		}

		&__title {
			@extend .text-center;
			padding: 1em 0;
			color: $white;
		}
	}

	ul.responsive-nav.nav {
		li {
			a {
				color: $white;
			}
		}
	}
}
