$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/** Component styles variables**/
$ocean-blue: #254A75;

app-header {
    display: block;
    width: 100%;
    background-color: $ocean-blue;

    .cover {
        display: block;
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
        &__avatar-wrapper {
            @extend .container, .hidden-xs;
            position: relative;
            height: 100%;
        }
        &__avatar {
            position: absolute;
            bottom: -2.5em;
            img {
                @extend .img-thumbnail;
                width: 12em;
                height: 12em;
            }
            h4 {
                display: inline-block;
                margin-left: 1em;
                position: relative;
                bottom: -1em;
            }
            &-white {
                color: #fff;
            }
        }
    }
}


/**/