<app-header-nav avatar-img-url="{{$ctrl.avatarImgUrl}}">
</app-header-nav>

<div class="cover" ng-style="{'background-image':'url({{$ctrl.coverImgUrl}})'}">
	<div class="cover__avatar-wrapper">
		<div class="cover__avatar cover__avatar-white">
			<img ng-src="{{$ctrl.avatarImgUrl}}"
			     alt="avatar-image">
			<h4>Stavros Korte</h4>
		</div>
	</div>
</div>
